<html layout:decorate="~{layout}">
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        var successMessage = /*[[${successMessage}]]*/ null;
        if (successMessage) {
          alert(successMessage);
        }
      });
    </script>
  </th:block>
  <div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/login}" method="post">
      <div th:if="${param.error}">
        <div class="alert alert-danger">
          이메일 또는 비밀번호를 확인해 주세요.
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input type="text" name="email" id="email" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">비밀번호</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary">로그인</button>
    </form>
  </div>
</html>
