<html
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout}"
>
  <!-- 사용자 CSS 추가 -->
  <th:block layout:fragment="css">
    <style>
      .empty-comment-message {
        font-style: italic;
        color: #999;
      }
    </style>
  </th:block>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        var successMessage = /*[[${successMessage}]]*/ null;
        if (successMessage) {
          alert(successMessage);
        }

        $(".show-comment-form").on("click", function () {
          $(this).closest(".card-body").find(".comment-form").toggle();
        });

        document.querySelectorAll(".comment-form").forEach((form) => {
          form.addEventListener("submit", function (e) {
            e.preventDefault();
            const questionId = this.getAttribute("data-question-id");
            const answerId = this.getAttribute("data-answer-id");
            const content = this.querySelector(".comment-content").value;

            fetch(`/api/question/${questionId}/answer/${answerId}/comments`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ content: content }),
            })
              .then((response) => {
                if (!response.ok) {
                  return response.text().then((error) => {
                    throw new Error(`BAD_REQUEST: ${error}`);
                  });
                }
                alert("댓글이 등록되엇습니다.");
                location.reload();
              })
              .catch((error) => {
                alert(error);
              });
          });
        });

        // 토글 버튼 클릭 이벤트 처리
        document.querySelectorAll(".toggle-comments").forEach((button) => {
          button.addEventListener("click", function () {
            const answerId = this.getAttribute("data-comment-id");
            const commentSection = document.getElementById(
              `comment-section-${answerId}`
            );

            if (commentSection.style.display === "none") {
              commentSection.style.display = "block";
            } else {
              commentSection.style.display = "none";
            }

            // 모든 댓글 목록 요소를 선택
            const commentList = document.getElementById(
              `comment-list-${answerId}`
            );
            commentList.scrollTop = commentList.scrollHeight;
          });
        });
      });

      const delete_elements = document.getElementsByClassName("delete");
      Array.from(delete_elements).forEach(function (element) {
        element.addEventListener("click", function () {
          if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
          }
        });
      });
      const recommend_elements = document.getElementsByClassName("recommend");
      Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener("click", function () {
          if (confirm("정말로 추천하시겠습니까?")) {
            location.href = this.dataset.uri;
          }
        });
      });
    </script>
  </th:block>
  <div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
      <div class="card-body">
        <div
          class="card-text"
          th:utext="${@commonUtil.markdown(question.content)}"
        ></div>
        <div class="d-flex justify-content-end">
          <div
            th:if="${question.modifyDate != null}"
            class="badge bg-light text-dark p-2 text-start mx-3"
          >
            <div class="mb-2">modified at</div>
            <div
              th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"
            ></div>
          </div>
          <div class="badge bg-light text-dark p-2 text-start">
            <div class="mb-2">
              <span
                th:if="${question.author != null}"
                th:text="${question.author.username}"
              ></span>
            </div>
            <div
              th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"
            ></div>
          </div>
        </div>
        <div class="my-3">
          <a
            href="javascript:void(0);"
            class="recommend btn btn-sm btn-outline-secondary"
            th:data-uri="@{|/question/vote/${question.id}|}"
          >
            추천
            <span
              class="badge rounded-pill bg-success"
              th:text="${#lists.size(question.voter)}"
            ></span>
          </a>
          <a
            th:href="@{|/question/modify/${question.id}|}"
            class="btn btn-sm btn-outline-secondary"
            sec:authorize="isAuthenticated()"
            th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
            th:text="수정"
          ></a>
          <a
            href="javascript:void(0);"
            th:data-uri="@{|/question/delete/${question.id}|}"
            class="delete btn btn-sm btn-outline-secondary"
            sec:authorize="isAuthenticated()"
            th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
            th:text="삭제"
          ></a>
        </div>
      </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5
      class="border-bottom my-3 py-2"
      th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"
    ></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${question.answerList}">
      <a th:id="|answer_${answer.id}|"></a>
      <div class="card-body">
        <div
          class="card-text"
          th:utext="${@commonUtil.markdown(answer.content)}"
        ></div>
        <div class="d-flex justify-content-end">
          <div
            th:if="${answer.modifyDate != null}"
            class="badge bg-light text-dark p-2 text-start mx-3"
          >
            <div class="mb-2">modified at</div>
            <div
              th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"
            ></div>
          </div>
          <div class="badge bg-light text-dark p-2 text-start">
            <div class="mb-2">
              <span
                th:if="${answer.author != null}"
                th:text="${answer.author.username}"
              ></span>
            </div>
            <div
              th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"
            ></div>
          </div>
        </div>
        <div class="my-3">
          <a
            href="javascript:void(0);"
            class="recommend btn btn-sm btn-outline-secondary"
            th:data-uri="@{|/answer/vote/${answer.id}|}"
          >
            추천
            <span
              class="badge rounded-pill bg-success"
              th:text="${#lists.size(answer.voter)}"
            ></span>
          </a>
          <a
            th:href="@{|/answer/modify/${answer.id}|}"
            class="btn btn-sm btn-outline-secondary"
            sec:authorize="isAuthenticated()"
            th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
            th:text="수정"
          ></a>
          <a
            href="javascript:void(0);"
            th:data-uri="@{|/answer/delete/${answer.id}|}"
            class="delete btn btn-sm btn-outline-secondary"
            sec:authorize="isAuthenticated()"
            th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
            th:text="삭제"
          ></a>

          <button
            class="toggle-comments btn btn-sm btn-outline-secondary"
            th:attr="data-comment-id=${answer.id}"
            style="position: relative"
          >
            댓글 보기
            <span
              class="badge rounded-pill bg-success"
              th:text="${#lists.size(answer.comments)}"
              style="position: absolute; top: -5px; right: -5px"
            ></span>
          </button>
        </div>
        <div
          th:id="'comment-section-' + ${answer.id}"
          class="comment-section"
          style="display: none"
        >
          <!-- 댓글 목록 -->
          <div
            th:id="'comment-list-' + ${answer.id}"
            class="comment-list"
            style="max-height: 300px; overflow-y: auto"
          >
            <div th:if="${answer.comments.empty}" class="empty-comment-message">
              댓글이 존재하지 않습니다.
            </div>
            <div
              th:each="comment, commentStat : ${answer.comments}"
              class="comment card"
            >
              <!-- 댓글 내용 -->
              <div class="card-body">
                <span
                  class="comment-number"
                  th:text="${commentStat.index + 1}"
                ></span>
                <span class="comment-number-info">. 내용: </span>
                <span
                  class="comment-content"
                  th:text="${comment.content}"
                ></span>
              </div>
              <!-- 댓글 작성자와 시간 -->
              <div class="card-footer">
                <span class="comment-info"
                  >작성자 :
                  <small
                    class="text-muted mr-2"
                    th:text="${comment.author.username}"
                  ></small
                ></span>
                <span class="comment-info"
                  >작성시간 :
                  <small
                    class="text-muted"
                    th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"
                  ></small
                ></span>
              </div>
            </div>
          </div>
        </div>
        <!-- 댓글 작성 폼 -->
        <form
          th:attr="data-question-id=${question.id}, data-answer-id=${answer.id}"
          class="comment-form"
        >
          <textarea class="form-control comment-content" rows="5"></textarea>
          <button class="btn btn-primary my-2">댓글 작성</button>
        </form>
      </div>
    </div>
    <!-- 답변 반복 끝  -->

    <div>
      <!-- 답변 작성 -->
      <form
        th:action="@{|/answer/create/${question.id}|}"
        th:object="${answerForm}"
        method="post"
        class="my-3"
      >
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea
          sec:authorize="isAnonymous()"
          disabled
          th:field="*{content}"
          class="form-control"
          rows="10"
        ></textarea>
        <textarea
          id="markdown-editor"
          sec:authorize="isAuthenticated()"
          th:field="*{content}"
          class="form-control"
          rows="10"
        ></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2" />
      </form>
    </div>
  </div>
</html>
