<html layout:decorate="~{layout}">
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      const page_elements = document.getElementsByClassName("page-link");
      Array.from(page_elements).forEach(function (element) {
        element.addEventListener("click", function () {
          document.getElementById("page").value = this.dataset.page;
          document.getElementById("searchForm").submit();
        });
      });
      const btn_search = document.getElementById("btn_search");
      btn_search.addEventListener("click", function () {
        document.getElementById("kw").value =
          document.getElementById("search_kw").value;
        document.getElementById("page").value = 0; // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById("searchForm").submit();
      });

      $(document).ready(function () {
        var successMessage = /*[[${successMessage}]]*/ null;
        if (successMessage) {
          alert(successMessage);
        }

        var errorMessage = /*[[${errorMessage}]]*/ null;
        if (errorMessage) {
          alert(errorMessage);
        }
      });
    </script>
  </th:block>

  <div layout:fragment="content" class="container my-3">
    <h2 class="text-center mb-4">질문게시판</h2>

    <!-- 부트스트랩 Carousel 시작 -->
    <div id="questionCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://cdn.pixabay.com/photo/2023/11/26/14/43/girl-8413748_640.png"
            class="d-block w-100"
            alt="첫 번째 이미지"
            style="width: 500px; height: 300px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://cdn.pixabay.com/photo/2012/04/13/01/23/moon-31665_1280.png"
            class="d-block w-100"
            alt="두 번째 이미지"
            style="width: 500px; height: 300px"
          />
        </div>
        <!-- 추가 이미지들을 필요한 만큼 계속해서 추가할 수 있습니다. -->
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#questionCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">이전</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#questionCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">다음</span>
      </button>
    </div>
    <!-- 부트스트랩 Carousel 끝 -->

    <div class="row my-3">
      <div class="col-6">
        <a th:href="@{/question/create}" class="btn btn-primary"
          >질문 등록하기</a
        >
      </div>
      <div class="col-6">
        <div class="input-group">
          <input
            type="text"
            id="search_kw"
            class="form-control"
            th:value="${kw}"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="btn_search"
          >
            찾기
          </button>
        </div>
      </div>
    </div>
    <table class="table">
      <thead class="table-dark">
        <tr class="text-center">
          <th>번호</th>
          <th style="width: 50%">제목</th>
          <th>글쓴이</th>
          <th>작성일시</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" th:each="question, loop : ${paging}">
          <td
            th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"
          ></td>
          <td class="text-start">
            <a
              th:href="@{|/question/detail/${question.id}|}"
              th:text="${question.subject}"
            ></a>
            <span
              class="text-danger small ms-2"
              th:if="${#lists.size(question.answerList) > 0}"
              th:text="${#lists.size(question.answerList)}"
            >
            </span>
          </td>
          <td>
            <span
              th:if="${question.author != null}"
              th:text="${question.author.username}"
            ></span>
          </td>
          <td
            th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"
          ></td>
        </tr>
      </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          th:classappend="${!paging.hasPrevious} ? 'disabled'"
        >
          <a
            class="page-link"
            href="javascript:void(0)"
            th:data-page="${paging.number-1}"
          >
            <span>이전</span>
          </a>
        </li>
        <li
          th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
          th:if="${page >= paging.number-5 and page <= paging.number+5}"
          th:classappend="${page == paging.number} ? 'active'"
          class="page-item"
        >
          <a
            th:text="${page}"
            class="page-link"
            href="javascript:void(0)"
            th:data-page="${page}"
          ></a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
          <a
            class="page-link"
            href="javascript:void(0)"
            th:data-page="${paging.number+1}"
          >
            <span>다음</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/question/list}" method="get" id="searchForm">
      <input type="hidden" id="kw" name="kw" th:value="${kw}" />
      <input type="hidden" id="page" name="page" th:value="${paging.number}" />
    </form>
  </div>
</html>
